{% block title %}Author information{% endblock %}

{% block content %}
    <div>
        <p><a href="{% url 'book:author' %}">list of authors</a></p>
        <h1>Author: {{ authors.name }}, age: {{ authors.age }} </h1>
        <p>Number of his books: {{ authors.book_set.count }}</p>
        <table>
            <caption>List of books:</caption>
            <tr>
                <th>Name</th>
                <th>Pages</th>
                <th>Price</th>
                <th>Rating</th>
                <th>Publisher</th>
                <th>Publication date</th>
            </tr>
            {% for book in books %}
                <tr>
                <td><a href="{% url 'book:book-detail' pk=book.id %}"> {{ book.name }}</a></td>
                <td>{{ book.pages }}</td>
                <td>{{ book.price }}</td>
                <td>{{ book.rating }}</td>
                <td>{{ book.publisher }}</td>
                <td>{{ book.pubdate }}</td>
                </tr>
            {% endfor %}
        </table>
    <p><a href="{% url 'book:home' %}">Home</a></p>
    </div>
{% endblock %}