<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% if author_info %}
     <h1>Author Info:</h1><br>
        <ul>
            <li>Author name: {{ author_info.name }}</li>
            <li>Age: {{ author_info.age }} y.o.</li>
            <li>Avg Rating: {{ author_info.average_rating }}</li>
            <li>
                <h4>
                    Books:
                    <ul>
                        {% for book in author_info.book_set.all %}
                            <li><a href="{{ book.get_absolute_url }}">{{ book.name }}</a>({{ book.rating }})</li>
                        {% endfor %}

                    </ul>
                    {% endif %}
    <li><a href="{% url 'book:home' %}">Home</a></li>

</body>
</html>