<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{% if author_list %}
    <ul>
      {% for author in author_list %}
      <li>
          <p>
              <a href="{{author.get_absolute_url}}">
                  {{ author.name }}

              </a>
              ({{ author.age }} y.o.  {{ author.books_count }} books)


          </p>
      </li>

      {% endfor %}
    </ul>
    {% else %}
      <p>There are no Authors.</p>
    {% endif %}

</body>
</html>